.box{
    width: 100px;
    height: 100px;
    background-color: rosybrown;
    
}
.box1:hover{
    width: 300px;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.box2:hover{
    width: 300px;
    height: 300px;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.box3:hover{
    width: 300px;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.box4:hover{
    width: 300px;
    transition-duration: 3s;
    transition-timing-function: ease;
}
.box5:hover{
    width: 300px;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}
.box6:hover{
    width: 300px;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}
.box7:hover{
    width: 300px;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}
.container{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #00ccff;
}
*{
    margin: 0;
}
